<table border="1" cellpadding="10">

    <tr>
        {% for def in definitions %}
            {% if def.association != true or def.associationType != 4 %}
                <td>{{ def.propertyName }}</td>
            {% endif %}
        {% endfor %}
        <td>Actions</td>
    </tr>
    <!-- ### end header -->



    {% for row in data %}
        <tr>
            {% for def in definitions %}

                {% if def.association != true or def.associationType != 4 %}
                    <td>
                        {% include'HackdayScaffoldBundle:Scaffold:blocks/field.html.twig' %}
                    </td>
                {% endif %}

            {% endfor %}
            <td>
                {# TODO primary key #}
                <a href="{{ path(routes.getViewPath(controller), {id: row.id}) }}">View</a>&nbsp;|&nbsp;
                <a href="{{ path(routes.getEditPath(controller), {id: row.id}) }}">Edit</a>&nbsp;|&nbsp;
                <a href="{{ path(routes.getDeletePath(controller), {id: row.id}) }}">Delete</a>
            </td>
        </tr>
    {% endfor %} <!-- ### rows -->

</table>