{% extends "HackdayScaffoldBundle::scaffold.base.html.twig" %}

{% form_theme form 'HackdayScaffoldBundle:Scaffold:Forms/forms.base.html.twig' %}

{% block content %}
<h1>Welcome to the Scaffold:add page</h1>

    <form action="{{ path(routes.getAddPath()) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

        {{ form_widget(form) }}


        <a href="{{ path(routes.getIndexPath()) }}" >Abort</a>

    </form>

{% endblock %}



