{% extends "HackdayScaffoldBundle::scaffold.base.html.twig" %}

{% block content %}

    {# TODO Name #}
    <h1>View</h1>

    <dl>
        {% for def in definitions %}
            {% if def.association != true or def.associationType != 4 %}
                <dt>{{ def.propertyName }}</dt>
                <dd>
                    {% include'HackdayScaffoldBundle:Scaffold:blocks/field.html.twig' with {'row':data} %}
                </dd>
            {% endif %}
        {% endfor %}
    </dl>

    {# TODO Test Many2Many #}
    {% for def in definitions %}
        {% if def.association %}
            {% if def.associationType == 4 %}
                <h2>Associated {{ def.propertyName }}</h2>
                {% include'HackdayScaffoldBundle:Scaffold:blocks/table.html.twig' with {'definitions':def.associationDefinition, 'data':attribute(data,def.propertyName), 'controller':def.controller} %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
